html,
body {
	margin: 0;
	height: 100%;
}
body {
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: rgba(248, 246, 246, 0.285);
	z-index: 0;
	overflow-x: hidden;
}
a:link {
	color: #e3b285;
	text-decoration: none;
	background-color: transparent;
	font-size: 30px;
}
a:visited {
	text-decoration: none;
	color: #e3b285;
}
a:hover {
	color: rgb(177, 131, 46);
}
a:active {
	text-decoration: none;
	color: rgb(177, 131, 46);
}
