.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: transparent;
	background: transparent;
	color: #e3b285;
	height: 144px;
	padding: 0.5rem;
	position: relative;
	width: 100%;
	font-size: 20px;
	/* flex: 1; */
}
.logo {
	cursor: pointer;
	width: 200px;
	height: 100px;
	max-width: 250px;
	background-color: transparent;
	padding: 15px;
}
.welcome {
	display: flex;
	color: rgb(11, 208, 142);
	flex: 1;
	justify-content: center;
}
.menu {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: transparent;
	z-index: 99;
	justify-content: space-between;
	gap: 2rem;
	margin-right: 3rem;
}
.menuToggle {
	display: none;
}
.loginBtn {
	color: #0bd08e !important;
}
.loginBtn:hover {
	color: #068057 !important;
}
.logoutBtn {
	color: #da4813 !important;
}
.logoutBtn:hover {
	color: #882d0c !important;
}

@media (max-width: 600px) {
	.header a:link {
		color: #e3b285;
		text-decoration: none;
		background-color: transparent;
		font-size: 20px;
	}
	.welcome {
		position: absolute;
		left: 3px;
		top: 3px;
		font-size: 15px;
	}
}
@media (max-width: 992px) {
	.menu-button-container {
		margin-right: 10px;
		display: flex;
		background-color: transparent;
		-webkit-tap-highlight-color: transparent;
	}

	.menu {
		position: absolute;
		top: 20px;
		margin-top: 120px;
		left: 0;
		flex-direction: column;
		width: 100%;
		justify-content: center;
		align-items: center;
		-webkit-tap-highlight-color: transparent;
		background-color: rgb(248, 246, 246, 0.285);
	}
	#menu-toggle ~ .menu li {
		height: 0;
		margin: 0;
		padding: 0;
		border: 0;
		transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	#menu-toggle:checked ~ .menu li {
		border: 1px solid #b4adad;
		height: 2.5em;
		padding: 0.5em;
		transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	.menu > li {
		position: relative;
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 0.5em 0;
		width: 100%;
		color: #e3b285;
		background-color: rgba(248, 246, 246, 1);
	}
	.menu > li:not(:last-child) {
		border-bottom: 1px solid #444;
	}
}
