.adminGallery {
	height: auto;
	z-index: 999;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	margin: auto;
	padding-bottom: 30px;
}
.applybutton {
	margin-top: 10px;
	cursor: pointer;
	background-color: #e3b285;
	padding: 5px;
	color: antiquewhite;
	border: none;
}
.applybutton:hover {
	background: linear-gradient(45deg, #d99250, #7e634a);
}
.Changetextinput {
	height: 250px;
	width: 70%;
	margin-top: 10px;
}

.Adminform {
	align-items: center;
	height: auto;
	width: 98%;
	justify-content: center;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}

.contentContainer {
	margin-top: 40px;
}

/* admin gallery */
.adminGallery {
	justify-content: center;
	margin: auto;
	position: relative;
	font-family: raleway;
	font-weight: 500;
	font-size: 2rem;
	color: #e3b285;
	width: 95%;
}
.adminGalleryFolder {
	justify-content: center;
	margin: auto;
	position: relative;
	top: 10px;
	bottom: 20px;
	font-size: 1.5em;
	font-family: raleway;
	color: #9e9e9e;
	height: 30%;
	width: 30%;
	border: #9e9e9e solid;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}
.galleryFoldercontainer {
	display: flex;
	gap: 20px;
	width: 100%;
}
/* image upload */
.inputFile {
	display: none;
}
.uploadPlus {
	height: 50px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	margin-bottom: 10px;
	font-size: 50px;
	background: linear-gradient(45deg, #ddc2a8, #e3b285);
	cursor: pointer;
	border-radius: 50%;
	padding: 30px;
	font-weight: 600;
	margin-top: 10px;
	border: none;
}
.uploadPlus:hover {
	background: linear-gradient(45deg, #d99250, #7e634a);
}

.uploadButton {
	margin-top: 10px;
	cursor: pointer;
	background-color: #e3b285;
	padding: 5px;
	color: antiquewhite;
	border: none;
	padding: 10px;
	border-radius: 5px;
}

.uploadButton:hover {
	background: linear-gradient(45deg, #d99250, #7e634a);
}

/* admin gallery photos */

.galleryPhotosButtonContainer {
	display: inline-flex;
	margin: auto;
	margin-top: 50px;
	gap: 10px;
}
.galleryPhotosButton {
	line-height: 1.5em;
	text-align: center;
	margin-top: 10px;
	cursor: pointer;
	background-color: #e3b285;
	color: antiquewhite;
	border: none;
	padding: 10px;
	border-radius: 5px;
	font-size: 1.5em;
	font-weight: 500;
}
.galleryPhotosButton:hover {
	background: linear-gradient(45deg, #d99250, #7e634a);
}

.adminGalleryphotos {
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, 100px);
	gap: 10px 10px;
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
	top: 30px;
	z-index: 99;
	padding-bottom: 100px;
	padding-top: 50px;
}
.adminGalleryphotos img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
	max-height: 83px;
}

/* checkbox */
.myCheck {
	position: absolute !important;
	width: 15px !important;
	height: 15px !important;
	border: solid !important;
	border-color: #000 !important;
	opacity: 100 !important;
	pointer-events: stroke !important;
	background-color: #f2f2f2 !important;
	margin-left: 78px !important;
	margin-top: 8px;
}
.adminGalleryphotos a {
	width: 100%;
	height: 100%;
}
.deletePhotos {
	width: 80px;
	height: 70px;
	cursor: pointer;
	background-color: #e38585;
	padding: 5px;
	color: antiquewhite;
	border: none;
	margin-inline: auto;
	margin-top: 30px;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 5px;
}
.deletePhotos:hover {
	background: linear-gradient(45deg, #d95050, #7e4a4a);
}

.aboutmeDisplay {
	position: absolute;
	left: 40px;
	width: 450px;
	height: 900px;
	border: #9e9e9e solid;
	padding: 5px;
}
.contactsDisplay {
	position: absolute;
	right: 40px;
	width: 450px;
	height: 900px;
	border: #9e9e9e solid;
	padding: 5px;
}
.adminShortcut {
	position: absolute;
	width: 15px;
	height: 15px;
	top: 49%;
	left: 50%;
	transform: translateX(-50%);
}

/* tiny */
.tox-promotion {
	display: none;
}

/* tiny div */

.tinyMceContainer {
	background-color: transparent;
	height: auto;
	z-index: 999;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 20px;
	padding-bottom: 30px;
}
.tinyContent {
	width: 95%;
	margin: auto;
}
.titleh2 {
	font-size: 2rem;
	color: #e3b285;
	text-align: center;
}
.message {
	color: rgb(11, 208, 142);
}
